selectionColor = #b4d5fe

textColor = #444
mutedTextColor = #a5a5a5

brandPink = #e90f92
brandPinkDarkened = darken(brandPink, 18%)
logoPurple = brandPinkDarkened
brandOrange = #fd6e22

gray = #e0e0e0
darkGray = #707070
darkerGray = #404040
darkestGray = #202020
lightGray = #f3f3f3
lighterGray = #fafafa
lightLineGray = #cacaca
lightLineGrayRGBA = rgba(#000, .21)

primaryButtonColor = logoPurple
primaryButtonColorDarkened = darken(primaryButtonColor, 18%)
secondaryButtonColor = #466ebe
