.blog-posts(data-flow="column")
  .post
    h2 Lorem ipsum

    .timestamp
      time #{(new Date).toLocaleString()}

    :marked
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Proin sollicitudin commodo felis, a **interdum mauris mattis tempus**.
      In hac habitasse platea dictumst.
      Etiam pellentesque felis luctus turpis ullamcorper, eu laoreet sem condimentum.
      Nullam congue, nulla ut congue rutrum, nibh velit iaculis est, vel malesuada urna nulla vitae leo.
      >Cras a consectetur mi.
      >Aliquam vestibulum rutrum risus id consequat.
      >Quisque sed massa elit.
      Cras molestie rutrum mauris.
      Fusce nec sem porta, condimentum purus ut, ultrices lectus.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In **facilisis nulla vel tortor rhoncus**, nec tempus sem luctus.
      Nulla ipsum erat, finibus id dapibus commodo, consequat id ex.

      Donec _lobortis pharetra augue_, vel feugiat ex tempor consectetur.
      Pellentesque scelerisque enim porta quam sodales imperdiet.
      Praesent at dui nisi.
      Pellentesque a leo semper sapien suscipit dignissim pulvinar vel lorem.
      Vestibulum consequat, _mauris mollis venenatis finibus_, libero ligula gravida neque, quis ultricies dolor erat ut neque.
      Etiam varius ullamcorper tellus, ac pharetra dui fermentum id.
      Morbi bibendum eu quam in feugiat.
      Morbi ullamcorper arcu purus, eget bibendum eros hendrerit et.
      Nam sed viverra ipsum, sit amet egestas diam.
      >Morbi eget convallis purus.
      >Fusce eget vestibulum est.
      Sed fermentum libero augue, et tincidunt justo placerat vitae.
      Cras id leo maximus ligula pharetra tempor.
      Quisque non rutrum nisl.
      Mauris pharetra velit ut gravida ullamcorper.

      In ut orci massa.
      In hac habitasse platea dictumst.
      Aliquam erat volutpat.
      Sed eu ligula erat.
      Quisque cursus ullamcorper eros et consectetur.
      Aliquam sed tellus non magna pellentesque volutpat.
      Nulla sed tempus justo.
      Donec vel aliquam ligula.

      Nunc finibus elit nec nisi lacinia, vel aliquam dolor congue.
      Integer auctor semper eros eu aliquet.
      Nullam sit amet nunc ut quam euismod mollis eleifend sed felis.
      Phasellus congue dui in convallis malesuada.
      Praesent cursus arcu at elit iaculis, sed feugiat magna tincidunt.
      Aenean rhoncus, urna eget volutpat rutrum, mi lorem aliquam tortor, id fringilla erat odio quis neque.
      Nunc felis sapien, porttitor at orci at, ultrices fringilla ipsum.
      Nullam sed nulla vitae odio gravida dignissim.
      >Sed at turpis malesuada, tempor tellus at, euismod justo.
      >Aenean molestie ante sit amet quam tristique venenatis.
      >Etiam vitae molestie dui, sit amet feugiat lectus.
      In malesuada mi sit amet commodo hendrerit.
      Maecenas vitae leo facilisis purus pretium pulvinar ut quis est.
      Suspendisse potenti.
      Etiam ut odio aliquet, rutrum nunc sodales, luctus ipsum.
      Praesent id blandit neque.

      Ut ante tortor, gravida vitae cursus at, aliquam ut sem.
      Mauris bibendum nulla elit, vitae placerat enim suscipit eu.
      Duis lacus mauris, placerat id venenatis ac, feugiat in risus.
      Suspendisse ut nisl at enim egestas mattis.
      Sed semper ligula dolor, nec fringilla lorem placerat sed.
      >Pellentesque ornare sapien tellus, vitae commodo justo malesuada vel.
      >Morbi sollicitudin velit sit amet tempor ultrices.
      >In in molestie tortor, et imperdiet magna.
      Nam ut feugiat lorem, a accumsan sem.
      Quisque efficitur aliquam tortor, eu condimentum nulla.
      Ut ut neque volutpat sapien vehicula gravida ut non ante.
      Sed in commodo lorem, et scelerisque eros.
      Donec at mauris lobortis, ultricies odio eget, fermentum felis.
      Donec eu nisi in mauris tempus sagittis eget id sapien.
      Proin consectetur est dui, ut finibus metus malesuada sed.
      Cras ornare maximus metus in cursus.
