.news(data-flow="column")
  .box
    h2 News

    ul
      li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li Proin sollicitudin commodo felis, a <strong>interdum mauris mattis tempus</strong>.
      li In hac habitasse platea dictumst.
